;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]
  [metosin/reitit "0.7.0-alpha7"]
  [metosin/reitit-schema "0.7.0-alpha7"]
  [metosin/reitit-frontend "0.7.0-alpha7"]
  [cljs-http/cljs-http "0.1.46"]
  [noencore "0.3.7"] ; (transitive dependency of cljs-http; enforce new version to avoid :redef warnings)
  [fipp "0.6.14"] ; Just for pretty printting the match
  [re-frame "1.4.2"]]

 :dev-http {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn lab1.frontend.app/init}}}}}
