;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]
  [metosin/reitit "0.6.0"]
  [metosin/reitit-spec "0.6.0"]
  [metosin/reitit-frontend "0.6.0"]]

 :dev-http {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules
   {:main {:init-fn lab1.frontend.app/init}}}}}
